[submodule "couchbase"]
	path = couchbase
	url = https://github.com/escapedcanadian/couchmovies-couchbase
[submodule "demo"]
	path = demo
	url = https://github.com/escapedcanadian/couchmovies-demo
[submodule "web"]
	path = web
	url = https://github.com/escapedcanadian/couchmovies-web
[submodule "feeder"]
	path = feeder
	url = https://github.com/escapedcanadian/couchmovies-feeder
